{% extends 'base.html' %}

{% block header %}
	<h1>{% block title %}Context: {{ context["name"] }}{% endblock %}</h1>
    <p>{{ context["description"] }}</p>
    <p>Created: {{ context["created"].strftime("%d.%m.%Y") }} | <a href="{{ url_for('contexts.update', id=context['id']) }}">Edit</a></p>
{% endblock %}

{% block main %}
    <section class="lists">
        <h2>Lists</h2>
        <a href="{{ url_for("contexts.new_list", context_id=context["id"]) }}">Connect</a>
        {% if lists|length == 0 %}
        <p>Empty</p>
        {% else %}
        {% for list in lists %}
        <article class="list">
            <header>
                <h2>{{ list["name"] }}</h2>
            </header>
            <p>{{ list["description"] }}</p>
            <footer>
                <p><a href="{{ url_for("lists.view", list_id=list["id"]) }}">View</a></p>
            </footer>
        </article>
        {% if not loop.last %}
        <hr>
        {% endif %}
        {% endfor %}
        {% endif %}
    </section>
    <section class="agents">
        <h2>Agents</h2>
        <a href="{{ url_for("contexts.new_agent", context_id=context["id"]) }}">Connect</a>
        {% if agents|length == 0 %}
        <p>Empty</p>
        {% else %}
        {% for agent in agents %}
        <article class="agent">
            <header>
                <h2>{{ agent["name"] }}</h2>
            </header>
            <p>{{ agent["description"] }}</p>
            <footer>
                <p><a href="{{ url_for("agent.view", id=agent["id"]) }}">View</a></p>
            </footer>
        </article>
        {% if not loop.last %}
        <hr>
        {% endif %}
        {% endfor %}
        {% endif %}
    </section>
{% endblock %}
